<div class="tile is-parent is-6">
  <article class="tile is-child box">
    <h1 class="title"> Edit stock </h1>
    <%= render "form.html", changeset: @changeset,
      action: stock_path(@conn, :update, @stock) %>

    <p class="control">
      <%= link "Back", class: "button is-link", to: stock_path(@conn, :index) %>
    </p>
  </article>
</div>
